.git
.venv
.env
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.mypy_cache/
**/.ipynb_checkpoints/
dist/
build/
site/
htmlcov/
docs/_build/
.coverage.*
.eggs/
*.egg-info/
*.egg
node_modules/
.cache/
.ruff_cache/
.pytype/
.pyre/
.mbandit/
data/
datasets/
logs/
tmp/
**/.DS_Store
**/*.sqlite
**/*.db
**/*.parquet
**/*.csv
**/*.tsv
**/*.feather
**/*.arrow
**/*.h5
**/*.pth
**/*.pt
**/*.onnx
**/*.whl
**/*.tar
**/*.tar.gz
**/*.zip
**/*.bz2
**/*.7z
**/*.png
**/*.jpg
**/*.jpeg
**/*.tiff
**/*.mp4
**/*.mov
**/*.webm
**/*.wav
**/*.mp3