on:
  push:
    branches:
      - main
  
permissions:
  contents: write
  pull-requests: write
  
name: release-please
  
jobs:
  release-please:
    runs-on: self-hosted
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.RELEASE_PLEASE_GITHUB_TOKEN }}
          release-type: python